{{>layout/header}}

<!--가방 시작코 계산기-->
<div class="container">
    <div class="text-center">
        <h5 class="display-1 mt-5 mb-4">가방 시작코 계산기</h5>
        <p>게이지를 아시나요? 게이지란 뜨개질의 어쩌구저쩌구 설명이들어갈칸입니다 하하하 ㅇ호호호호 ㅎ히히히ㅣ히히히히
            하하하하 호호호 히히히히히히
            하하하ㅏ </p>
    </div>
</div>

<div class="container text-center">
    <ul class="nav nav-pills mb-3">
        <li class="nav-item">
            <a class="nav-link active mt-3 mb-1" data-toggle="tab" href="#circle">원형 뜨기</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mt-3 mb-1" data-toggle="tab" href="#ellipse">타원 뜨기</a>
        </li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane fade show active" id="circle">

            <p>시작코 구하기 : 총 단수 + 총 코수 입력 </p>
            <p>총 코수 구하기 : 시작코 + 총 단수 입력</p>
            <div class="row g-3 align-items-center mt-3 mb-3">
                <div class="col-auto">
                    <label for="intSt" class="col-form-label">시작코</label>
                </div>
                <div class="col-xs-1">
                    <input type="number" id="intSt" class="form-control" onkeyup="javascript:fn_calBag();"
                           aria-describedby="stHelpInline">
                </div>
                <div class="col-auto">
    <span id="stHelpInline" class="form-text">
      시작할 사슬의 개수를 입력해주세요
    </span>
                </div>
            </div>

            <div class="row g-3 align-items-center mt-3 mb-3">
                <div class="col-auto">
                    <label for="intAllRow" class="col-form-label">총 단수</label>
                </div>
                <div class="col-xs-1">
                    <input type="number" id="intAllRow" class="form-control" onkeyup="javascript:fn_calBag();"
                           aria-describedby="intAllRowHelpInline">
                </div>
                <div class="col-auto">
    <span id="intAllRowHelpInline" class="form-text">
      떠야할 총 단수를 입력해주세요. 1단은 늘림이 시작되는 첫 단입니다.
    </span>
                </div>
            </div>

            <div class="row g-3 align-items-center mt-3 mb-3">
                <div class="col-auto">
                    <label for="intAllSt" class="col-form-label">총 코수</label>
                </div>
                <div class="col-xs-1">
                    <input type="number" id="intAllSt" class="form-control" onkeyup="javascript:fnCalBag();"
                           aria-describedby="intAllStHelpInline">
                </div>
                <div class="col-auto">
    <span id="intAllStHelpInline" class="form-text">
      타원을 다 떴을때 총 코수를 입력해주세요.
    </span>
                </div>
            </div>

            <p>떠야 할 시작코는 <span id="resultIntSt"></span>코</p>

        </div>
        <div class="tab-pane fade" id="ellipse">
            <p>타원 뜨기의 예제 페이지 입니다</p>
            <p>Nunc vitae turpis id nibh sodales commodo et non augue. Proin fringilla ex nunc. Integer tincidunt risus
                ut facilisis tristique.</p>
        </div>
    </div>
</div>

<!--카드-->
<!--<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="circle" data-bs-toggle="pill" data-bs-target="#circle" type="button" role="tab" aria-controls="circle" aria-selected="true">원형 뜨기</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="ellipse" data-bs-toggle="pill" data-bs-target="#ellipse" type="button" role="tab" aria-controls="ellipse" aria-selected="false">타원 뜨기</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="circle" role="tabpanel" aria-labelledby="circle" tabindex="0">...</div>
    <div class="tab-pane fade" id="ellipse" role="tabpanel" aria-labelledby="ellipse" tabindex="0">...</div>
</div>-->

<!--카드-->
<!--<div class="container mt-5 mb-5 text-center">
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3>원형뜨기 계산기</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3>타원뜨기 계산기</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>-->

{{>layout/footer}}