<!--댓글 목록-->

<div>
    <div class="card">
        <form>
            <div class="card-body">
                <input type="hidden" id="postsId" value="{{post.id}}">
                <textarea id="comment" class="form-control" row="1"></textarea>
            </div>
            <div class="card-footer">
                <button type="button" id="btn-reply-save" class="btn btn-primary">등록</button>
            </div>
        </form>
    </div>
</div>